/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.question{
    margin-top:50px;
}
.comment{
    margin-top:30px;
}
.questionBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #f6f5f6;
    width: 100%;
    height: 50px;
    padding: 10px;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}
.titleButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    cursor:pointer
}
.group a {
    color:
}
.group p{
    margin:0;
}

.margin{
    margin:20px!important;
}

.darkBackground {
    background-color: #10069F;
}

.darkText {
    color: #10069F !important;
}

.lightBackground {
    background-color: #5BC2E7;
}
.lightText {
    color: #5BC2E7;
}

.noTxtDecoration{
    text-decoration:none;
}
.noTxtDecoration:hover {
    text-decoration: none;
}

i{
    margin-right:10px;
    margin-left:10px;
}

.btn-primary {
    background-color: #10069F !important;
    border-color: #10069F !important;
}

h1,h4 {
    color: #10069F;
}