@model List<StackoverflowLight.Domain.Question>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var question in Model)
{
    <div class="question card">
        <h1 class="card-title title">@question.Title</h1>
        <div class="questionBar card-body">
            <div class="group">
                <i class="far fa-comment"></i>
                <p>@question.Comments.Count</p>
            </div>
            <div class="group">
                <i class="far fa-arrow-alt-circle-up"></i>
                <p>@question.Upvotes</p>
                <i class="far fa-arrow-alt-circle-down"></i>
                <p>@question.Downvotes</p>
            </div>
        </div>
    </div>
}
