@model List<StackoverflowLight.Domain.Question>
@{
    ViewData["Title"] = "Home Page";
}

@foreach(var question in Model)
{
    <h1>@question.Title</h1>
    <h4>@question.Description</h4>
    @foreach(var comment in question.Comments)
    {
        <p>@comment.Description</p>
    }
}
